<h3>Listing Scores</h3>

<table class="table">
  <thead>
    <tr>
      <th>Team A</th>
      <th>Team B</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game_sets.each do |game_set| %>
      <tr>
        <td><%= game_set.first_team.users.map{|u| u.name}.join(', ') %><br><%=  game_set.first_team.score %></td>
        <td><%= game_set.second_team.users.map{|u| u.name}.join(', ') %> <br><%= game_set.second_team.score %></td>
        <td><%= link_to 'Edit', edit_game_set_path(game_set) %></td>
        <td><%= link_to 'Destroy', game_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_game_set_path %>
